<h1>Your Shopping Cart</h1>

<% if @cart.cart_items.any? %>
  <table class="w-full mb-6">
    <thead>
      <tr>
        <th>Product</th><th>Qty</th><th>Unit Price</th><th>Total</th><th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <% p = item.product %>
        <tr>
          <td><%= p.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(p.price / 100.0) %></td>
          <td><%= number_to_currency(item.quantity * p.price / 100.0) %></td>
          <td>
            <%= link_to "Remove",
            cart_item_path(item),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "text-red-600 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Proceed to Checkout", new_checkout_path,
              class: "btn btn-primary" %>
<% else %>
  <p>Your cart is empty</p>
<% end %>
