<main class="pt-28 max-w-7xl mx-auto px-4">
  <h1 class="text-3xl font-bold">Category Show Page</h1>

  <div class="min-h-screen flex justify-center">
    <div class="flex flex-wrap flex-col mt-6">
      <h2 class="text-lg text-gray-800">Filter</h2>
    </div>

    <div class="flex flex-wrap mt-6 gap-10 flex-grow justify-center items-start">
      <% if @products.empty? %>
        <p class="text-2xl text-left text-gray-800">No products found</p>
      <% else %>
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="max-w-xs flex flex-col p-4 justify-center items-center">
              <% if product.images.first %>
                <%= image_tag product.images.first.variant(:medium), class: "rounded" %>
              <% else %>
                <%= image_tag "http://via.placeholder.com/250", class: "rounded" %>
              <% end %>
              <p class="mt-6 font-medium text-gray-800"><%= product.name %></p>
            </div>
          <% end %>
        <% end %>

        <div class="pagination mt-6 flex justify-center w-full">
          <%= paginate @products %>
        </div>
      <% end %>
    </div>
  </div>
</main>
