<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecommerce" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>

  <body>
    <section class="section">

    <main class="flex">
      <nav class="flex w-full">
        <div class="w-64 p-4 h-screen bg-gray-600 sticky top-0">
          <div class="flex">
            <%= image_tag 'logo.png', class: 'w-16' %>
            <h1 class="text-md py-2 text-gray-50 font-bold hidden md:block">Ecommerce Admin</h1>
          </div>
            <ul class="flex flex-col text-gray-50">
              <li>
                <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <span class="hidden md: inline-block">Dashboard</span>
                  <% end %>
              </li>
              <ul class="flex flex-col text-gray-50">
              <li>
                <%= link_to admin_products_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <span class="hidden md: inline-block">Products</span>
                  <% end %>
              </li>
              <ul class="flex flex-col text-gray-50">
              <li>
                <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <span class="hidden md: inline-block">Categories</span>
                  <% end %>
              </li>
              <ul class="flex flex-col text-gray-50">
              <li>
                <%= link_to admin_orders_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <span class="hidden md: inline-block">Orders</span>
                  <% end %>
              </li>
            </ul>
        </div>
      </nav>
      <%= yield %>
    </section>
    </main>
  </body>
</html>
